*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;  
    flex-flow: column;
    height: 800px;
  align-items: center; /*apply to cross axis*/
  justify-content: ; /*apply to main axis*/

}

.box{
    width: 100px;
    flex: 0 0 100px;
/*flex zastępuje - pierwsza wartość flex grow, druga wartosc flex shrink, trzecia wartosc flex basis*/

}

.one{
    background: red;

}
.two{

    background: blue;

}

.three{
    background: green;


}

